

header {
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
	background: #ccc;
}

#header {
	background-color: #4aaaa5;
	font-family: 'Georgia','Time', Times New Roman, serif;
	width: 25%;
	margin: 0;
	margin-bottom: auto;
	font-size: 28px;
	text-align: center;
}

.navBar {
	postion: relative;
	width: 100%;
	margin: auto;
}

#title{
	background-color: #4aaaa5;
	font-family: 'Georgia','Time', Times New Roman, serif;
	font-size: 20px;
	text-align: justify;
}

h3 {
	font-color: #777777;
	width: 25%;
	margin: auto;
	font-family: 'Arial','Helvetica Neue',Helvetica, sans-serif;
}

/*p{
	font-color: #777777;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-top: 20px;
	margin-right: 500px;
	font-family: 'Arial','Helvetica Neue',Helvetica, sans-serif;
	font-size: 18px;
	line-height: 150%;
}*/

/*body{
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	font-family: 'Arial','Helvetica Neue',Helvetica, sans-serif;
	font-size: 18px;
	line-height: 150%;
}*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#content {
	width:50%;
	margin: left;
	background-color: #ffffff;
	font-family: 'Arial','Helvetica Neue',Helvetica, sans-serif;
	font-size: 18px;
	line-height: 150%
	clear: left;
}

img {
		float: left;
		margin: 0 0 1em 1em;
		clear: left;
}

#aside {
	position: absolute;
	top: 250px;
	right:30px;
	width: 30%;
	background: #fff;
	border: 1px solid #eee;
	float: right;
}

#contact {
  	 	width: 200px;
  	 	background: #666;
  	 	float: right;
			text-align: center;
}

#aboutme {
  	 	width: 200px;
  	 	background: #666;
  	 	float: right;
			text-align: center;
 }

#portfolio {
  	 	width: 200px;
  	 	background: #666;
  	 	float: right;
			text-align: center;
}

footer{
	background-color: #666666;
	margin-right: 20px;
	margin-left: 20px;
}

.clearfix{
	overflow: auto;
	zoom: 1;
}
